<h1 class="h2 sticky-top pb-3 fw-normal bg-white">Add student</h1>

<form>
  <div class="mb-2">
    <label for="studentRegId" class="form-label">Reg Id.</label>
    <input type="text" class="form-control" id="studentRegId">
  </div>
  <div class="mb-2">
    <label for="studentName" class="form-label">Fullname</label>
    <input type="text" class="form-control" id="studentName">
  </div>
  <div class="mb-2">
    <label for="studentEmail" class="form-label">Email</label>
    <input type="email" class="form-control" id="studentEmail">
  </div>
  <div class="mb-2">
    <label for="studentPhone" class="form-label">Phone No.</label>
    <input type="text" class="form-control" id="studentPhone">
  </div>
  <div class="mb-2">
    <label for="studentCourse" class="form-label">Course</label>
    <input type="text" class="form-control" id="studentCourse">
  </div>
  <div class="mb-2">
    <label for="studentBalance" class="form-label">Balance</label>
    <input type="text" class="form-control" id="studentBalance">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
