*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans",
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
}

button {
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    border: 0;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
}

img {
    width: 2rem;
}

main {
    position: relative;
    width: 100%;
    max-width: 428px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow-y: auto;
}
header,
.taskDetail__title,
.taskDetail__dueDate,
.taskDetail__assignee,
.taskDetail__actions,
.taskList > div {
    display: flex;
    align-items: center;
}
header {
    min-height: 5rem;
    padding: 0 0.5rem;
    gap: 1rem;
    border-bottom: 1px solid #edebe9;
    color: #7a45bf;
}
.taskDetail {
    display: flex;
    flex-direction: column;
    background-color: #f3f2f1;
}
.taskDetail__title,
.taskDetail__dueDate,
.taskDetail__assignee,
.taskDetail__description {
    padding: 0.5rem;
    gap: 0.5rem;
}
.taskDetail__title > form {
    width: 100%;
}
.taskDetail__title input,
.taskDetail__dueDate input,
.taskDetail__assignee input,
.taskDetail__description textarea,
.taskDetail__actions {
    width: 100%;
    height: 3rem;
    padding: 0.5rem;
    border: 0;
    font-size: 1rem;
    outline: none;
}
.taskDetail__title input:focus,
.taskDetail__dueDate input:focus,
.taskDetail__assignee input:focus,
.taskDetail__description textarea:focus {
    border: 1px solid #7a45bf;
}
.taskDetail__description {
    margin-bottom: auto;
}
.taskDetail__description textarea {
    height: 100%;
}
.taskDetail__actions {
    height: 4rem;
}
.taskDetail__actions * {
    height: 3rem;
    flex-grow: 1;
}
.taskDetail__actions button:first-child {
    background-color: #7a45bf;
    color: #ffffff;
}
.taskDetail__actions button:first-child:hover,
.taskDetail__actions button:last-child:hover {
    border: 2px solid black;
}
.taskList {
    padding: 0 0.5rem;
}
.taskList > ul > li,
.taskList > div {
    height: 4rem;
    gap: 1rem;
}
.taskList > ul > li {
    display: flex;
    align-items: center;
    list-style: none;
    cursor: pointer;
}
.spinner-div {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.spinner {
    width: 5rem;
    height: 5rem;
    border: 10px solid #f3f2f1;
    border-top: 10px solid #7a45bf;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
