<header class="sticky-top py-3 d-flex align-items-center border-bottom bg-white">
  <h1 class="col h2 fw-normal">All students</h1>
  <div class="col col-sm-4">
    <select class="form-select" (change)="getStudents($event)">
      <option value="">All</option>
      <option value="+b">With Balance</option>
      <option value="-b">Without Balance</option>
    </select>
  </div>
</header>

<div class="d-flex gap-3">
  <div class="col list-group-flush" [class.]>
    <a class="list-group-item list-group-item-action py-3 d-flex" *ngFor="let student of selectedStudents"
       [routerLink]="[student.regId, 'edit-balance']" routerLinkActive="active">
      {{ student.name }}
      <span class="ms-auto" [ngStyle]="{color: student.balance <= 0 ? 'green' : 'red'}">{{ student.balance }}</span>
    </a>
  </div>

  <div class="col-md-4" #edit [hidden]="edit.childElementCount === 1">
    <router-outlet></router-outlet>
  </div>
</div>
