<!-- <div class="studentDetail">
  <h2>Add a student</h2>
  <form (submit)="onSubmit($event)">
    <label for="studentName">Student Name</label>
    <input type="text" name="studentName" id="studentName">
    <p *ngIf="errorMsg" style="color: red;">{{ errorMsg }}</p>
    <label for="studentBalance">Student Balance</label>
    <input type="number" name="studentBalance" id="studentBalance">
    <button type="submit">Add a student</button>
  </form>
</div> -->

<app-student-list class="w-100 overflow-scroll" style="max-height: 100%;"></app-student-list>

<!-- <div class="studentList">
  <div class="studentList__topRow">
    <h2>Student Name</h2>
    <h2>Balance</h2>
  </div>
  <div class="studentList__actions">
    <button (click)="getStudents()">All Students</button>
    <button (click)="getStudents('+b')">Students WITH Balance</button>
    <button (click)="getStudents('-b')">Students WITHOUT Balance</button>
  </div>
  <div class="studentList__students">
    <p *ngIf="!students.length"> Not a single student in record!</p>
    <div *ngIf="students.length">
      <button (click)="sortData('name')">Sort by name</button>
      <button (click)="sortData('balance')">Sort by balance</button>
    </div>
    <div *ngFor="let student of selectedStudents | sort: sortVal" class="studentList__student">
      <p>{{ student.name }}</p>
      <p [ngStyle]="{color: student.balance <= 0 ? 'green' : 'red'}">{{ student.balance }}</p>
    </div>
  </div>
</div> -->
